# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\minhthuan_mor\project_demo\Datt_FastApi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
